<strong><%= Comment.model_name.human %></strong>
<% if commentable.comments.present? %>

<% else %>
<%= 'まだコメントがありません' %>
<% end %>
<%= form_with model: [commentable, commentable.comments.new] do |f| %>
  <%= f.text_area :content %>
  <div class="actions">
    <%= f.submit "コメントをする", class: 'btn btn-warning px-5' %>
  </div>
<% end %>
