<h1>ユーザー詳細ページ</h1>
<p>
  Email:<%= @user.email %>
</p>

<p>
  郵便番号：<%= @user.postal_code %>
</p>

<p>
  住所：<%= @user.address %>
</p>

<p>
  自己紹介：<%= @user.self_introduce %>
</p>

<%= link_to 'ユーザー一覧へ', users_index_path %>
